html,
body {
  padding: 0 !important;
  margin: 0!important;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
  background-image: url("/back-3.jpg") !important;;
  color: white !important;
  background-position: center !important;
  background-size: cover !important;
  background-image: url("/back-3.jpg");
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box !important;
}
